
body{
    background-color: #79baf2;
}

#container{
    width: 640px;
    margin: 0 auto;
    background-color: white;
}

header{
    width: 450px;
    background-color: #79baf2;
    float: left;
    text-align: center;
}
h1{
    font-family: Verdana;
    font-size: 36px;
    color: white;
    text-shadow: 5px 5px 5px #000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
}

img{
    float: right;
    padding-right: 110px;
    padding-top: 15px;
}

#content{
    width: 640px;
    background-color: #79baf2;
}

#board{
    width: 635px;
    background-color: white;
    clear: both;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-top: 1px;
}

#board p{
  padding-left: 5px;  
  font-family: Verdana;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #3c6ba8;
  font-size: 14px;
  color: silver;
}

#createmessage{
    width: 640px;
    background-color: white;
}

textarea{
    width: 625px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: Verdana;
    font-size: 14px;
}

button{
    background-color: #fbee65;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-family: Verdana;
    font-size: 10px;
    color: black;
    font-style: italic;
    font-weight: bold;
    border-style: double;
    border-width: 3px;
    border-color: black;
}