
body{
    background-color: #79baf2;
}

#container{
    width: 640px;
    margin: 0 auto;
    background-color: white;
}

header{
    width: 450px;
    background-color: #79baf2;
    float: left;
    text-align: center;
}
h1{
    font-family: Verdana;
    font-size: 36px;
    color: white;
    text-shadow: 5px 5px 5px #000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
}

img{
    float: right;
    padding-right: 110px;
    padding-top: 20px;
}

#content{
    width: 640px;
    background-color: #79baf2;
}

#board{
    width: 640px;
    background-color: #79baf2;
    clear: both;
}

    #board div{
      background-color: #3c6ba8;
      width: 640px;
    }
    
#text{
    width: 60px;
    font-family: Verdana;
    font-size: 16px;
    margin-left: 5px;
    padding-top: 10px;
    color: #d8e4f1;
}

#time{
    font-family: Verdana;
    font-size: 12px;
    margin-left: 570px;
    padding-bottom: 10px;
    color: silver;
}

#messagecounter{
    background-color: white;
    font-family: Verdana;
    font-size: 8px;
    color: black;
    font-style: italic;
    font-weight: bold;
    margin-left: 524px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#createmessage{
    width: 640px;
    background-color: white;
}

textarea{
    width: 624px;
    margin-left: 5px;
    margin-top: 1px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    background-color: #d8e4f1;
}

button{
    background-color: #fbee65;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 512px;
    font-family: Verdana;
    font-size: 10px;
    color: black;
    font-weight: bold;
    font-style: italic;
    border-style: double;
    border-width: 3px;
    border-color: black;
}