
body{
    background-color: black;
}

#container{
    background-color: black;
    width: 1024px;
    margin: 50px auto;
    
}

#gamearea{
    width: 800px;
    background-color: black;
    margin: 0 auto;
    
}

#gamestats{
    width: 508px;
    background-image: url(../memory/pics/mind.jpg);
    background-size: 25%;
    margin: 35px auto;
    text-align: center;
}

#gamestats p{
    font-family: VERDANA;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table{
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 0 auto;
}

a:hover, a:focus{
    background-color: blue;
}

header{
    width: 508px;
    background-color: #1c5fca;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

header h1{
    font-family: VERDANA;
    font-weight: bold;
    color: white;
    font-size: 32px;
    text-shadow: 5px 5px 5px #000;
    padding-top: 5px;
    padding-bottom: 8px;
    
}
