/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






#container{
    width: 1920px;
    height: 1080px;
    background-color: black;
    padding-top: 50px;
}

#button{
    width: 128px;
    height: 128px;
    background-image: url(../pics/folderclosed.png);
    background-size: 50%;
    margin-top: 623px;
    margin-left: 10px;
    background-repeat: no-repeat;
}

#buttonclicked{
    width: 128px;
    height: 128px;
    background-image: url(../pics/folderopen.png);
    background-size: 50%;
    margin-top: 623px;
    margin-left: 10px;
    background-repeat: no-repeat;
}

#desktop{
    width: 1280px;
    height: 690px;
    background-image: url(../pics/desktopwood.jpg);
    margin: 0 auto;
    padding-top: 30px;
}

#window{
    width: 400px;
    height: 440px;
    background-color: white;
    position: absolute;
    top: 140px;
    left: 450px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    overflow: auto;
}

#windowtop{
    width: 400px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 450px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#windowtop p{
    font-family: Verdana;
    font-size: 14px;
    color: white;
    margin-left: 10px;
    margin-top: 12px;
    float: left;
}

#windowbottom{
    width: 400px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 582px;
    left: 450px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#headerlogo{
    width: 8%;
    float: left;
    margin-top: 4px;
    margin-left: 5px;
}

#exitlogo{
    width: 5%;
    float: left;
    margin-left: 231px;
    margin-top: 9px;
}

#closewindow{
    display: none;
}

#imagediv{
    background-color: silver;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    padding: 3px 3px;
    text-align: center;
}

#active{
    width: 14px;
    margin-top: 3px;
    margin-left: 10px;
}

#inactive{
    display: none;
}

a:link{
    display: block;
}
a:visited{
    display: block;
}
a:focus{
    box-shadow: 3px 3px 10px black;
}
a:hover{
    box-shadow: 3px 3px 10px black;
}
a:active{
    box-shadow: 0px 0px 0px black;
}